<ActionBar class="appBar" title="Details" >
    <NavigationButton android.systemIcon="ic_menu_back" (tap)="goBack()" ></NavigationButton>
    
</ActionBar>

<FlexboxLayout flexDirection="column">
    <FlexboxLayout class="m-15">
        <Label class="h2" [text]="item.id + '. '"></Label>
        <Label class="h2" [text]="item.name"></Label>
    </FlexboxLayout>

    <Label class="h3 m-15" [text]="'Symbol : '+item.symbol" textWrap="true"></Label>
    <Label class="h3 m-15" [text]="'Caste : '+item.caste"></Label>
    <Label class="h3 m-15" [text]="'Aim : '+item.aim"></Label>
    <Label class="h3 m-15" [text]="'Direction : '+item.direction"></Label>
    <Label class="h3 m-15" [text]="'Power : '+item.power" textWrap="true"></Label>
    <Label class="h3 m-15" [text]="'Planet Lord : '+item.lord"></Label>
    <Label class="h3 m-15" [text]="'Deity : '+ item.deity" textWrap="true"></Label>

</FlexboxLayout>


 
